body {
    background-color:black;
    color:white;
    font-family: arial;
    }

h1  {
    color:grey;
    text-align: center;
    font-family: verdana;
    }

.maindiv {
    background-color: white;
    color:black;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}


label{
    display: inline-block;
    margin-left: 0px;
    float: left;
}

input, select {
    display: inline-block;
    margin-left: 80px;
    float: left;
}

